{% extends "layouts/base.html" %}
{% load l10n %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="py-4">
{#        <div class="dropdown">#}
{#            <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>#}
{#                New Task#}
{#            </button>#}
{#            <div class="dropdown-menu dashboard-dropdown dropdown-menu-start mt-2 py-1">#}
{#                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path></svg>#}
{#                    Add User#}
{#                </a>#}
{#                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>                            #}
{#                    Add Widget#}
{#                </a>#}
{#                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path><path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path></svg>                            #}
{#                    Upload Files#}
{#                </a>#}
{#                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                    <svg class="dropdown-icon text-gray-400 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>#}
{#                    Preview Security#}
{#                </a>#}
{#                <div role="separator" class="dropdown-divider my-1"></div>#}
{#                <a class="dropdown-item d-flex align-items-center" href="#">#}
{#                    <svg class="dropdown-icon text-danger me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.395 2.553a1 1 0 00-1.45-.385c-.345.23-.614.558-.822.88-.214.33-.403.713-.57 1.116-.334.804-.614 1.768-.84 2.734a31.365 31.365 0 00-.613 3.58 2.64 2.64 0 01-.945-1.067c-.328-.68-.398-1.534-.398-2.654A1 1 0 005.05 6.05 6.981 6.981 0 003 11a7 7 0 1011.95-4.95c-.592-.591-.98-.985-1.348-1.467-.363-.476-.724-1.063-1.207-2.03zM12.12 15.12A3 3 0 017 13s.879.5 2.5.5c0-1 .5-4 1.25-4.5.5 1 .786 1.293 1.371 1.879A2.99 2.99 0 0113 13a2.99 2.99 0 01-.879 2.121z" clip-rule="evenodd"></path></svg>#}
{#                    Upgrade to Pro#}
{#                </a>#}
{#            </div>#}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
{#            <div class="card bg-yellow-100 border-0 shadow">#}
{#                <div class="card-header d-sm-flex flex-row align-items-center flex-0">#}
{#                    <div class="d-block mb-3 mb-sm-0">#}
{#                        <div class="fs-5 fw-normal mb-2">Evolução de Despesas</div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card-body p-2">#}
{#                    <div class="ct-chart-despesas"></div>#}
{#                </div>#}
{#            </div>#}
                <div class="card border-0 shadow">
                    <div class="card-header d-flex flex-row align-items-center flex-0 border-bottom">
                        <div class="d-block">
                            <div class="h4 fw-normal text-gray mb-2">Evolução de Despesas</div>
{#                            <h2 class="h3 fw-extrabold">452</h2>#}
{#                            <div class="small mt-2">#}
{#                                <span class="fas fa-angle-up text-success"></span>#}
{#                                <span class="text-success fw-bold">18.2%</span>#}
{#                            </div>#}
                        </div>
                        <div class="d-block ms-auto">
                            <div class="d-flex align-items-center text-end mb-2">
                                <span class="dot rounded-circle bg-gray-800 me-2"></span>
                                <span class="fw-normal small">Lanche</span>
                            </div>
                            <div class="d-flex align-items-center text-end">
                                <span class="dot rounded-circle bg-secondary me-2"></span>
                                <span class="fw-normal small">Transporte</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-2">
                        <div class="ct-chart-despesas ct-series-a ct-double-octave"></div>
                    </div>
                </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <i class="fa-solid fa-user-graduate fa-xl"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">Total de Alunos</h2>
                                <h3 class="fw-extrabold mb-1">{{ total_alunos }}</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Total de Alunos</h2>
                                <h3 class="fw-extrabold mb-2">{{ total_alunos }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-6 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape icon-shape-primary rounded me-4 me-sm-0">
                                <i class="fa-solid fa-users fa-xl"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="h5">Total de Turmas</h2>
                                <h3 class="fw-extrabold mb-1">{{ total_turmas }}</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Total de Turmas</h2>
                                <h3 class="fw-extrabold mb-2">{{ total_turmas }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Turmas Ativas</h2>
                                </div>
                                <div class="col text-end">
                                    <a href="{% url 'listar-turmas' %}" class="btn btn-sm btn-primary">Ver todas</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="border-bottom">Curso</th>
                                        <th class="border-bottom">Professor</th>
                                        <th class="border-bottom">Município</th>
                                        <th class="border-bottom">Data de Início</th>
                                        <th class="border-bottom">Data de Fim</th>
                                        <th class="border-bottom">Nº de Alunos</th>
                                        <th class="border-0 rounded-end">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for turma in turmas %}
                                        <tr>
                                            <td>{{ turma.curso }}</td>
                                            <td>{{ turma.professor }}</td>
                                            <td>{{ turma.municipio }}</td>
                                            <td>{{ turma.dt_inicio|date:'d/m/Y' }}</td>
                                            <td>{{ turma.dt_fim|date:'d/m/Y' }}</td>
                                            <td>{{ turma.alunos.count }}</td>
                                            <td>
                                                <a href="{% url 'visualizar-frequencia' pk=turma.id %}" class="detail"
                                                   tabindex="0" data-bs-toggle="popover" data-bs-placement="top"
                                                   data-bs-trigger="hover focus" data-bs-content="Visualizar Frequência"
                                                   style="color: #0d6efd;"><i class="fa-solid fa-calendar"></i></a>
                                                <a href="{% url 'gerenciar-frequencia' pk=turma.id %}" class="add"
                                                   tabindex="0" data-bs-toggle="popover" data-bs-placement="top"
                                                   data-bs-trigger="hover focus" data-bs-content="Editar Frequência"><i
                                                        class="fa-solid fa-calendar-check"></i></a>
                                                <a href="{% url 'gerenciar-turma' pk=turma.id %}" class="edit"
                                                   tabindex="0" data-bs-toggle="popover" data-bs-placement="top"
                                                   data-bs-trigger="hover focus" data-bs-content="Editar"><i
                                                        class="icon icon-sm fa-solid fa-pencil"></i></a>
                                                <a href="{% url 'deletar-turma' pk=turma.id %}" class="delete"
                                                   tabindex="0" data-bs-toggle="popover" data-bs-placement="top"
                                                   data-bs-trigger="hover focus" data-bs-content="Deletar"><i
                                                        class="icon icon-sm fa-solid fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist-plugin-legend/0.6.2/chartist-plugin-legend.min.js" integrity="sha512-J82gmCXFu+eMIvhK2cCa5dIiKYfjFY4AySzCCjG4EcnglcPQTST/nEtaf5X6egYs9vbbXpttR7W+wY3Uiy37UQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-pointlabels@0.0.6/dist/chartist-plugin-pointlabels.min.js"></script>
    <script>
        let chart = new Chartist.Line('.ct-chart-despesas', {
            labels: [{% for label in labels %} '{{ label }}'{% if not forloop.last %},{% endif %}{% endfor %}],
        {% localize off %}
            series: [{% for serie in series %} [{% for data in serie %} {{ data }}{% if not forloop.last %},{% endif %} {% endfor %}]{% if not forloop.last %},{% endif %} {% endfor %}]
        {% endlocalize %}
            }, {
            low: 0,
            {#height: '200px',#}
            {#showArea: false,#}
            plugins: [
                {#Chartist.plugins.tooltip(),#}
                Chartist.plugins.ctPointLabels({
                    textAnchor: 'middle',
                    labelInterpolationFnc: function(value) {
                        if (value) {
                            return 'R$ ' + value.toFixed(2)
                        } else{
                            return 'R$ ' + "0"
                        }
                    }
                })
                {#Chartist.plugins.legend()#}
            ],
            axisX: {
                // On the x-axis start means top and end means bottom
                position: 'end'
            },
            axisY: {
                showLabel: false,
              },
            {#low: 0,#}
          showArea: false,
          {#showPoint: false,#}
          stretch: true,
            fullWidth: true,
            responsive:true,
            chartPadding: {
                right: 50
            },
        });
    </script>

{% endblock javascripts %}
